@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Barlow Condensed", sans-serif;
    }
}

body {
    background-color: #000000;
    color: #ffffff;
    /* font-family: "Barlow Condensed", sans-serif; */
}
.container{
    padding: 0 16px;
}

/* Animation -start */
.pill {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The squares */
.item {
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

/* Position items during expansion */
.pill.expand .item:nth-child(1) {
    /* Leftmost */
    transform: translateX(-400px);
}
@media (max-width:768px){
    .pill.expand .item:nth-child(1) {
        /* Leftmost */
        transform: translateX(-200px);
    }
}
@media (max-width:640px){
    .pill.expand .item:nth-child(1) {
        /* Leftmost */
        transform: translateX(-100px);
    }
}

.pill.expand .item:nth-child(2) {
    /* Slightly left */
    transform: translateX(-130px);
}
@media (max-width:768px){
    .pill.expand .item:nth-child(2) {
        /* Slightly left */
        transform: translateX(-60px);
    }
}
@media (max-width:640px){
    .pill.expand .item:nth-child(2) {
        /* Slightly left */
        transform: translateX(-30px);
    }
}

.pill.expand .item:nth-child(3) {
    /* Slightly right */
    transform: translateX(130px);
}
@media (max-width:768px){
    .pill.expand .item:nth-child(3) {
        /* Slightly right */
        transform: translateX(60px);
    }
}
@media (max-width:640px){
    .pill.expand .item:nth-child(3) {
        /* Slightly right */
        transform: translateX(30px);
    }
}

.pill.expand .item:nth-child(4) {
    /* Rightmost */
    transform: translateX(400px);
}

@media (max-width:768px){
    .pill.expand .item:nth-child(4) {
        /* Leftmost */
        transform: translateX(200px);
    }
}
@media (max-width:640px){
    .pill.expand .item:nth-child(4) {
        /* Leftmost */
        transform: translateX(100px);
    }
}

/* Collapse to the middle */
.pill.shrink .item {
    transform: translateX(0);
}

/* Animation -end */


/* Image height -start */

/* Image Height -end */
